name: Validate

env:
  TRYPTIC_DIR: .local/share/nvim/site/pack/simonmclean/start/tryptic
  LUA_LS_LOG_CHECK: /home/runner/lua-language-server/log/check.json

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v4
    - name: install neovim
      run: |
        curl -OJL https://github.com/neovim/neovim/releases/download/v0.9.4/nvim-linux64.tar.gz
        tar xzf *.tar.gz
        echo "${HOME}/nvim-linux64/bin" >> $GITHUB_PATH
        nvim --version
    - name: install neovim plugins
      run: |
        git config --global advice.detachedHead false
        git clone https://github.com/nvim-lua/plenary.nvim.git $HOME/.local/share/nvim/site/pack/plenary/start/plenary
        git clone https://github.com/nvim-tree/nvim-web-devicons $HOME/.local/share/nvim/site/pack/nvim-tree/start/nvim-web-devicons
        git clone https://github.com/$GITHUB_REPOSITORY $HOME/$TRYPTIC_DIR
        cd $HOME/$TRYPTIC_DIR
        git checkout $GITHUB_SHA
    # - name: install lua-language-server
    #   run: |
    #     mkdir ~/lua-language-server
    #     cd ~/lua-language-server
    #     curl -O -J -L https://github.com/LuaLS/lua-language-server/releases/download/3.7.2/lua-language-server-3.7.2-linux-x64.tar.gz
    #     tar -xzf *.tar.gz
    # - name: check diagnostics
    #   run: |
    #     cd $HOME/$TRYPTIC_DIR
    #     ~/lua-language-server/bin/lua-language-server --check $HOME/$TRYPTIC_DIR
    #     if [ -r $LUA_LS_LOG_CHECK ]; then cat $LUA_LS_LOG_CHECK; fi
    # - name: check formatting
    #   run: |
    #     cd $HOME/$TRYPTIC_DIR
    #     npx @johnnymorganz/stylua-bin --check .
    - name: run tests
      run: |
        cd $HOME/$TRYPTIC_DIR
        ./run-tests.sh
